Reverse the array position in place

Square root of a no.

GCD

String reverse

Fibonacci series

Amstrong No.

Print prime numbers till n

In [9]:
a=[2,3,4,5,6,7]
print(a[::-1])

[7, 6, 5, 4, 3, 2]
[2, 3, 4, 5, 6, 7]
7 6 5 4 3

In [11]:
import math
n=100
print(math.sqrt(n))

10.0

In [47]:
#Print prime numbers till n
start=1
end=11
for i in range(start,end+1):
  if i>1:
    for j in range(2,i):
      if (i%j)==0:
        break
    else:
       print(i, end=" ")

2 3 5 7 11

In [40]:
a=[1,2,3,4,5]
p=2
new= a[p::-1]
if p<len(a):
  for i in range(p+1,len(a)):
    new.append(a[i])
print(new)

[3, 2, 1, 4, 5]

In [32]:
a=[1,2,3,4,5]
p=3
print(a[p-1::-1])
#for i in range(len(a)):

[3, 2, 1]

In [49]:
stri="abhishek"
print(stri[::-1])

kehsihba

FIBONAACI

In [73]:
#1,1,2,3,5,8,13

sum=1
a=0
b=1
c=0
n=10
print(a,b, end= " ")
for i in range(1,n-1): 
  c =a+b
  a=b
  b=c
  print(c, end=" ")

0 1 1 2 3 5 8 13 21 34

In [ ]:
def fibonacci():

Amstrong

#153=1x1x1+3x3x3+5x5x5

In [80]:
n=153
sum=0
d=0
temp=n
while n!=0:
  d=n%10
  sum =sum +(d*d*d)
  n=n//10
if sum==temp:
  print("amstrong")
else:
  print("Not amstrong")

amstrong

In [81]:
def Fibonacci(n):
   
    # Check if input is 0 then it will
    # print incorrect input
    if n < 0:
        print("Incorrect input")
 
    # Check if n is 0
    # then it will return 0
    elif n == 0:
        return 0
 
    # Check if n is 1,2
    # it will return 1
    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
 
# Driver Program
print(Fibonacci(9))

34

GCD

In [89]:
a=int(input())
b=int(input())
gcd=1
if a>b:
  for i in range(1,b+1):
    if (b%i==0 and a%i==0):
      gcd*=i
  print(gcd)
if b>a:
    for i in range(1,a+1):
    if (b%i==0 and a%i==0):
      gcd*=i
  print(gcd)

5