In [ ]:
'''1  

2 2  

3 3 3  

4 4 4 4  

5 5 5 5 5'''

#single

n=10
#for i in range(n) [i = 0 to n-1]

In [7]:
n=10
for i in range (10):
  print(i, end =" ")

0 1 2 3 4 5 6 7 8 9

In [26]:
rows = 6
#0,n-1
for num in range(6):
    # num=0, rows=0
    # num=1, rows=1
    # num=2, rows=2
    # num=3, rows=3
    # num=4, rows=4    
    # num=5, rows=5
    #print(num,"\n") 

    for i in range(num):
      # num=0, i=0
      # num=1, i=0
      # num=2, i=0,1
      # num=3, i=0,1,2
      # num=4, i=0,1,2,3
      # num=5, i=0,1,2,3,4
        print(num, end=" ") # print number
 
    # line after each row to display pattern correctly

    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1 1 1 1 1 

2 2 2 2 

3 3 3 

4 4 

5

In [28]:
rows = 5

b = 0
# for i in range (initial value,final value, difference)
for i in range(rows, 0, -1):

    b += 1

    for j in range(1, i + 1) 
        print(b, end=" ")
    print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [32]:
# for i in range (initial value,final value, difference)
for i in range(0, 10, 2):
  print(i)
print(" ")
for i in range(0, 10, 1):
  print(i)

0
2
4
6
8

0
1
2
3
4
5
6
7
8
9

5 5 5 5 5 

4 4 4 4 

3 3 3 

2 2 

1

In [45]:
rows =5
for num in range(rows,0,-1):
  for i in range(num):
    print(num,end=" ")
  print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

5 5 5 5 5 

5 5 5 5 

5 5 5 

5 5 

5

In [38]:
rows =5
for num in range(rows,0,-1):
  for i in range(num):
    print(rows,end=" ")
  print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

1 

2 1 

3 2 1 

4 3 2 1 

5 4 3 2 1

In [47]:
rows = 6
for row in range(1, rows):

    for column in range(row, 0, -1):
        print(column, end=" ")
    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

0 1 2 3 4 5 

0 1 2 3 4 

0 1 2 3 

0 1 2 

0 1

In [49]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(0, i + 1):

        print(j, end=" ")

    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

1 

2 3 4 

5 6 7 8 9

In [57]:
currentNumber = 1

stop = 2

rows = 3 # Rows you want in your pattern

for i in range(rows):
0,
1,
2
    for column in range(1, stop): 1,2,3,4,5
1,2
1
        print(currentNumber, end=" ")

        currentNumber += 1#2

    print(" ")

    stop += 2
    4
    6

1
2 3 4
5 6 7 8 9

1

3 2

6 5 4

10 9 8 7

In [62]:
start = 1
stop = 2
currentNumber = stop

for row in range(2, 6): 
    for col in range(start, stop):

        currentNumber -= 1 
        print(currentNumber, end=" ")

    print(" ")

    start = stop 

    stop += row 
    currentNumber = stop

1
3 2
6 5 4
10 9 8 7

1 

1 2 1 

1 2 3 2 1 

1 2 3 4 3 2 1 

1 2 3 4 5 4 3 2 1

In [79]:
start = 1
stop = 2
current_item=1
rows = 5

for row in range(rows):

  for col in range(start,stop):

    print(current_item, end=" ")



  print(" ")
  current_item=start
  stop+=2

1
1 1 1
1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1

In [81]:
start = 1
stop = 2
current_item=1
rows = 5

for row in range(rows):

  for col in range(start,stop):1,2,3
    print(current_item, end=" ")
    for i in range(col,):
      

        
        print(current_item, end=" ")
  print(" ")
  current_item=start
  stop+=2   4

1
1 1 1
1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1

In [86]:
rows =6
for i in range(1, rows + 1):
  for j in range(1, i-1):
    print(j, end=" ")
    for j in range(i -1, 0,-1):
      print(j, end=" ")
  print(" ")

1 2 1
1 3 2 1 2 3 2 1
1 4 3 2 1 2 4 3 2 1 3 4 3 2 1

In [1]:
rows = 6

for i in range(1, rows + 1): 
    for j in range(1, i -1):
        print(j, end=" ")

    for j in range(i -1, 0, -1):
        print(j, end=" ")

    print(" ")

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

5 4 3 2 1 1 2 3 4 5 

5 4 3 2 2 3 4 5 

5 4 3 3 4 5 

5 4 4 5 

5 5

In [8]:
rows = 5

for i in range(rows,0,-1):  
    for j in range( i,1):
        print(j, end=" ")

    for j in range(i , 0, -1):
        print(j, end=" ")

    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [20]:
rows = 6

for i in range(0, rows):

    for j in range(rows -1, i, -1):

        print(j, '', end='')

    for l in range(i):

        print('', end='')

    for k in range(i + 1, rows):

        print(k, '', end='')

    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2 2 3 4 5

5 4 3 3 4 5

5 4 4 5

5 5

10 

10 8 

10 8 6 

10 8 6 4 

10 8 6 4 2

In [26]:
n=5
for i in range(n):
  print(i * '*')
for j in range(n,0,-1):
  print(j * '*')

*
**
***
****
*****
****
***
**
*