input1 
* "10/2"

output1
* 5      
* 20

Explaination1
* 10//2=5
* recursive subtract till 0

  * 10-2=8 sum=8

  * 8-2=6 sum=6+8=14
    
    6-2=4 sum=14+4=18
    
    4-2=2 sum=18+2=20
    
    2-2=0 sum=20+0=20



---


input2 
* "10*4"

output2
* 40      
* 90

Explaination2
* 10*4=40
* recursive add till 40(ans1)

  * 10+10=20 sum=20

  * 20+10=30 sum=20+30=50
    
    30+10=40 sum=50+40=90

In [14]:
def solve(s):
  div="/"
  mul="*"
  flag=0
  ans1=0
  sum=0
  a=[]
  if div in s:
    a=s.split("/")
    flag=1
  else:
    a=s.split("*")
    flag=2
  n1=int(a[0])
  n2=int(a[1])
  if flag==1:
    ans1=n1//n2
    a=n1
    while a!=0:
      a=a-n2
      sum+=a
  elif flag==2:
    ans1=n1*n2
    a=n1
    while a!=ans1:
      a=a+n1
      sum+=a
  return ans1,sum 
s=solve("10/2")
print(s)

(5, 20)



---

COUNT THE NUMBERS IN THE LIST THAT ARE REPEATED ODD NUMBER OF TIMES

In [16]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count

def x(arr,n):
  sum=0
  arr2=[]
  arr2=list(set(arr))
  for x in arr2:
    count=countX(arr,x)
    if count%2==0:
      continue
    else:
      sum=sum+x*count
  return sum
arr=[11,11,12,12,13,13,13]
n=7
sum=x(arr,n)
print(sum)

39