In [1]:
rows = 5
#5,4,3,2,1 5 rows or lines
#5,4,3,2,1

#range (5,0,-1)
#row =0 num=0
#row = 5 num = 5 
# row =4 num = 4
#3,3,
#2,2,
#1,1
#o not there
#num =5 i =0,1,2,3,4 (0,5)
#num =4 i =0,1,2,3 (0,4)
#num =3 i =0,1,2 (0,3)
#num =2 i =0,1 (0,2)
#num =1 i =0 (0,1)

for num in range(rows,0,-1 ):
  for i in range(num): #num = 5 (0,5)
#    print(i, end =" ")
    print(num, end=" ")
  print(" ")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [2]:
rows=5
for num in range(rows,0,-1):
  for i in range(num):
    print(rows, end=" ")
  print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [3]:
rows=5
for num in range(rows+1):
  for i in range(num):
    print(rows, end=" ")
  print(" ")

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5