In [1]:
rows=6


for num in range(rows):
  for i in range(num):
    print(i+1, end= " ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
rows = 5
for ab in range(1, rows+1): #(1,6) 1,2,3,4,5
# row =1 ab = 1
# row =2 ab = 1,2
# row =3 ab = 1,2,3
# row =4 ab = 1,2,3,4
# row =5 ab = 1,2,3,4,5
# 5 rows, 5 lines
    for an in range(1, ab + 1):
#  ab =1 (1,2) an = 1

#  ab =1 (1,2) an = 1
#  ab =2 (1,3) an = 1,2

#  ab =1 (1,2) an = 1
#  ab =2 (1,3) an = 1,2
#  ab =3 (1,4) an = 1,2,3

#  ab =1 (1,2) an = 1
#  ab =2 (1,3) an = 1,2
#  ab =3 (1,4) an = 1,2,3
#  ab =4 (1,5) an = 1,2,3,4

#  ab =1 (1,2) an = 1
#  ab =2 (1,3) an = 1,2
#  ab =3 (1,4) an = 1,2,3
#  ab =4 (1,5) an = 1,2,3,4
#  ab =5 (1,6) an = 1,2,3,4,5

        print(an, end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5